<form (ngSubmit)="onSubmit(productForm)" #productForm="ngForm">
    <div>
        <input  
         class="form-control my-2"
         placeholder="Nombre" 
         name="nombre" 
         [(ngModel)]="product.nombre"
         #nombre="ngModel"
         required
         minlength="5">
    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="alert alert-danger">
        <div *ngIf="nombre.errors!['required']">Nombre es requerido</div>
        <div *ngIf="nombre.errors!['minlength']">
            Nombre debe tener mínimo 5 caracteres
        </div>
    </div>
</div>
    <div>
        <input
          class="form-control my-2"
          placeholder="Descripción"
          name="descripcion" 
          [(ngModel)]="product.descripcion"
          #descripcion="ngModel"
          required>
          <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="text-danger">
            @if (descripcion.errors!['required']) {
                <div>Descripción es requerida</div>
            }
        </div>
    </div>
    <div>
        <input
         type="number"
         class="form-control my-2" 
         placeholder="Precio" 
         name="precio"
         [(ngModel)]="product.precio"
         #precio="ngModel"
         required min="5">
         <div *ngIf="precio.invalid && (precio.dirty || precio.touched)" class="alert alert-danger">
            @if (precio.errors!['required']) {
                <div>Precio es requerido</div>
            }
            @if (precio.errors!['min']) {
                <div>Precio debe ser mayor a 3</div>
            }
        </div>
    </div>
    <div>
        <button 
            [disabled]="!productForm.form.valid"
            type="submit"
            class="btn btn-primary my-2">
            {{ product.id > 0 ? 'Actualizar' : 'Crear'}}
        </button>
        <button 
            type="button" 
            class="btn btn-success my-2 mx-4" 
            (click)="clean()">Limpiar
        </button>
    </div>
</form>